body {
    background-color: #E0FCDC;
    margin: 0 5%;
    font-family: sans-serif;
    text-align: center;
  }
p {
    color: #000000;
    font-size: 2em;
    font-family: courier new;
    text-align: center;
}

    header {
      background-color: #333;
      color: #D0F9E4;
      padding: 10px;
      text-align: center;
    }

    nav {
      display: flex;
      justify-content: space-around;
      background-color: #DCDCDC;
      padding: 10px 0;
    }

    nav a {
      color: #000000;
      text-decoration: none;

}

h1 {
    color: #47DE80;
    font-size: 4em;
    text-align: center;
    font-family: serif;
    font-weight: normal;
    text-transform: uppercase;
    border-bottom: 1px solid #000000;
    margin-top: 30px;
}
h2 {
    color: #000000;
    font-size: 2em;
    font-family: courier new;
    text-align: center;
    
}
.center-image {
    max-width: 10%;
    height: auto;
    display: inline-block;
    text-align: center;
}

section ul li{
    list-style-type: none;
    padding: 0;
}

    nav {
        flex-direction: column; 
        align-items: center; 
    }

    h8 {
    color: #000000;
    font-size: 2em;
    font-family: courier new;
    text-align: center;

.container {
    display: flex;
    justify-content: space-around;
}

.contact-from, .yhteystiedot {
    background-color: #DCDCDC;
    padding: 20px;
    text-align: left;
    width: 45%; /* Asetetaan boksien leveys */
    box-sizing: border-box; /* Estetään paddingin lisäys boksin kokoon */
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input, textarea {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%; /* Täyttää boksin leveyden */
}

button {
    background-color: #47DE80;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border: none;
    width: 100%; /* Täyttää boksin leveyden */
}

#thankYouMessage {
    color: #47DE80;
    font-size: 1.5em;
}

@media only screen and (max-width: 600px) {
    body {
        margin: 0; 
    }
